.bgDashboard {
    -fx-background-color: linear-gradient(
        to bottom right,
        #9C8867,
        #D9DACC
    );
}
.button-clear {
    -fx-background-color: transparent
    -fx-border-color: transparent
    -fx-background-insets: 0
    -fx-background-radius: 0
    -fx-text-fill: white;
}

.button-clear:hover {
    -fx-background-color: rgba(255,255,255,0.15)
}
.card {
    -fx-background-radius: 15;
    -fx-padding: 15;
}
