.bgDashboard {
    -fx-background-color: linear-gradient(
        to bottom right,
        #9C8867,
        #D9DACC
    );
}
.button-clear {
    -fx-background-color: transparent !important;
    -fx-border-color: transparent !important;
    -fx-background-insets: 0 !important;
    -fx-background-radius: 0 !important;
    -fx-text-fill: white;
}

.button-clear:hover {
    -fx-background-color: rgba(255,255,255,0.15) !important;
}
.card {
    -fx-background-color: #FFFFFF20;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.20), 10, 0, 0, 2);
}
